<div class="navbar-wrap">
    <div class="hloov-navbar w-nav">
        <div class="nav-search">
            <form action="/search" class="hloov-search rectangle nav-menu w-form">
                <div class="vertical-search" style="height: 20%;"></div>
                <input type="search" class="hloov-search-input w-input" maxlength="256" name="query" placeholder="Search…" id="search" required="">
                <input type="submit" value="" class="hloov-search-logo w-button">
                <div class="vertical-search right" style="height: 20%;"></div>
            </form>
            <div class="search-close-icon">
                <img src="https://uploads-ssl.webflow.com/61f3a8ab34a4598782349a76/629c98cf8cb8b44581dfb6fd_close_FILL0_wght100_GRAD0_opsz48.svg" loading="lazy" width="24" alt="" class="hloov-navigation-icon">
            </div>
        </div>
        <div class="hloov-nav-container">
            <div class="w-nav-button" >
                <div class="w-icon-nav-menu"></div>
            </div>
            <a href="/" aria-current="page" class="hloov-brand w-nav-brand w--current" aria-label="home">
                <img src="https://uploads-ssl.webflow.com/61f3a8ab34a4598782349a76/61f4351cb2b692cea86fa47b_Hloov%20Logo%20Color.svg" loading="lazy" height="25" alt="" class="hloov-logo">
            </a>
            <div class="hloov-menu-wrap">
                <nav role="navigation" class="hloov-navigation-menu-wrapper w-nav-menu">
                    <div data-hover="false" data-delay="0" class="mega-menu-dropdown w-dropdown">
                        <div class="mega-menu-dropdown-toggle w-dropdown-toggle">
                            <div class="mega-menu-text">Platform</div>
                        </div> 
                    </div>
                    <div data-hover="false" data-delay="0" class="mega-menu-dropdown w-dropdown">
                        <div class="mega-menu-dropdown-toggle w-dropdown-toggle">
                            <div class="mega-menu-text">Sectors</div>
                        </div>   
                    </div>
                    <div data-hover="false" data-delay="0" class="mega-menu-dropdown w-dropdown">
                        <div class="mega-menu-dropdown-toggle w-dropdown-toggle">
                            <div class="mega-menu-text">Careers</div>
                        </div>
                    </div>
                    <div data-hover="false" data-delay="0" class="mega-menu-dropdown w-dropdown">
                        <div class="mega-menu-dropdown-toggle w-dropdown-toggle">
                            <div class="mega-menu-text">Connect</div>
                        </div>
                   </div>
                <div data-hover="false" data-delay="0" class="mega-menu-dropdown w-dropdown">
                    <div class="mega-menu-dropdown-toggle w-dropdown-toggle">
                        <div class="mega-menu-text">Hloov</div>
                    </div>
                    
                </div>
            </nav>
          <!--   <nav role="navigation" class="hloov-nav-menu-search w-nav-menu">
                <a href="#" data-w-id="432e22ae-fdfa-0a9a-81d2-aadd803236bb" class="hloov-text-color-swatch-grey w-nav-link">Subscribe</a>
                <div class="search-form-wrapper hide">
                    <div data-w-id="432e22ae-fdfa-0a9a-81d2-aadd803236be" class="open-icon new"></div>
                </div>
            </nav> -->
          
            <!--Navbar-->
        <!--  <nav class="navbar navbar-light light-blue lighten-4">
             
              <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
              aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
              class="fas fa-bars fa-1x"></i></span></button>
            
       </nav> -->
  
        </div>
    </div>
    <div class="w-nav-overlay"></div>
</div>
</div>