<div class="sec-text-image wf-section">
    <div class="w-layout-grid grid-text-image">
        <div class="div-left-text">
            <!-- <div class="text-small padding">Hloov Hluas</div> -->
            <h4>Why does Hloov exist?</h4>
            <div class="content"><p>
                As Earth is facing challenge of global warming, the Built Environment is responsible for over one-third of global energy consumption.<br/><br/> Hloov originates to minimize the effects of built environment by reimagining the built environment with data science.<br/><br/> It aims to create a better future for ourselves and future generations by solving complex built environment challenges that we face today and the ones expected in the future.
        </div>
        </div>
        <div class="div-col-image"> 
            <img loading="lazy" src="./assets/images/whyhloov.jpg" alt="" class="col-image">
        </div>
    </div>
</div>
<div class="b-environment">
    <img class="img-earth" src="./assets/images/built.jpg" alt="Card image cap">
    <div class="text-block-1">
        <!-- <h4>Nature</h4> -->
        <h4>What Hloov does?</h4>
      </div>
      <div class="text-block-2">
          <p>Hloov's mission is to empower #BuiltEnvironment people to reduce waste and<br/> deliver Carbon neutral infrastructure. With the help of specialized technology<br/> proficiency, Hloov offers a broad range of solutions and services.</p>
      </div>
      <div class="text-block-3">
          <p>Hloov aims to restore balance between the built environment needs<br/> and finite natural resources to create a better world that embraces People, Planet,<br/> and Prosperity.</p>
      </div>
      <div class="text-block-4">
          <p>Hloov offers and specializes in a broad range of solutions and services<br/> like #DigitalTransformation, #DigitalTwins, #BuildingInformationModeling - #BIM,<br/> and #MixedReality. </p>
      </div>
      <div class="text-block-5">
          <p>Hloov is leading towards the development of the next layer of intelligent<br/> technology toolset for the architecture, engineering, and construction industry</p>
      </div>
      
</div>
<div class="slider">
<div class="slider-title">
    <h5>Hloov is a pioneer in human-centric artificial intelligence for the built environment that empowers people to achieve people, planet, and prosperity goals by minimizing waste with data science.</h5>
</div>
<!--Carousel Wrapper-->

<mdb-carousel class="carousel slide carousel-fade carousel-dark" [animation]="'fade'">
  
  <!--First slide-->
  <mdb-slide>
     
      <div class="col-lg-8 clearfix d-none d-lg-block ">
          <div class="card">
              <img class="img-fluid" src="./assets/images/img-h3.jpg" alt="Card image cap">
              <div class="card-body">
                  <h3 class="card-title">Hloov Hluas</h3>
                  <p>Hloov Hluas aims to inspire and empower the next generation of problem solvers through research, technology, and innovation to build a brighter future for everyone.<br/><br/>It's a global innovation platform to connect, collaborate, and create – together!</p>
                  
              </div>
          </div>
      </div>
     
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
      
      <div class="col-lg-8 clearfix d-none d-lg-block">
          <div class="card">
              <img class="img-fluid" src="./assets/images/tenet.jpg" alt="Card image cap">
              <div class="card-body">
                  <h3 class="card-title">Hloov Tenet</h3>
                  <p>Hloov Tenet aims to raise awareness and support the pressing need for sustainable practices in the built environment to build a sustainable future for everyone.<br/><br/>It's a global collaboration platform to engage, educate, and encourage – everyone!</p>
                  
              </div>
          </div>
      </div>
      
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
     
      <div class="col-lg-8 clearfix d-none d-lg-block">
          <div class="card">
              <img class="img-fluid" src="./assets/images/tagwaye.jpg" alt="Card image cap">
              <div class="card-body">
                  <h3 class="card-title">Hloov Tagwaye</h3>
                  <p>Hloov Tagwaye is a living digital twins platform for the built environment assets that empower people to make proactive, data-led decisions in real-time.<br/><br/>It keeps up with data and technical advances in the built environment industry aiding towards waste reduction.</p>
                  
              </div>
          </div>
      </div>
       
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
</div>
<div class="b-environment">
    <img class="img-earth" src="./assets/images/earth.jpg" alt="Card image cap">
    <div class="text-block-1">
        <!-- <h4>Nature</h4> -->
        <h4>Hloov's contribution to the Built Environment and Planet</h4>
      </div>
      <div class="text-block-2">
          <p>The built environment is a product of human civilization and the natural<br/> landscape. It consumes almost 50% of the world’s non-renewable resources,<br/> making it one of the least sustainable sectors on the planet.</p>
      </div>
      <div class="text-block-3">
          <p>To reimagine the Built Environment, Hloov performs digital transformations<br/> of the built environment with data science to encourage the participation<br/> and engagement of citizens – empower people.</p>
      </div>
      <div class="text-block-4">
          <p>Hloov's software enable Built Environment stakeholders to develop "Digital<br/> Twins" of their buildings and infrastructure to predict asset's behaviour<br/> and performance, making it easier to minimize waste and reduce emissions. </p>
      </div>
      <div class="text-block-5">
          <p>Hloov aims to empower people and create a new way to interact with the<br/> Built Environment to minimize waste and reduce emissions</p>
      </div>
</div>
<!--/.Carousel Wrapper-->
<div class="sec-image-text wf-section">
    <div class="w-layout-grid grid-image-text">
        <div class="div-col-image">
            <img src="./assets/images/hloov.jpg" loading="lazy" alt="">
        </div>
        <div class="div-right-text">
            <!-- <div class="text-small padding">Hloov Hluas</div> -->
            <h4>What inspired you to join Hloov?</h4>
            <div class="rich-text w-richtext">
                <p>Hloov contribute to the Built Environment and leading the change in this world.<br/><br/>Empowering people with data science, cutting-edge technology, and innovative design thinking with a human-centric approach.<br/><br/>Hloov is strongly committed to the well-being and personal development of its employees, and also has a great work-life balance and workplace culture.</p>
            </div>
            <a href="#">

            </a>
        </div>
    </div>
</div>

                      